<!doctype html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo List</title>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- Loading Bootstrap -->
    <link href="/flat-ui/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/animation/ani.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/flat-ui/css/flat-ui.css" rel="stylesheet">

    <header>
        <div class="container">
            <div class="jumbotron">
                <h1>
                    <img src="/flat-ui/images/icons/svg/clipboard.svg" alt="Clipboard">
                    My Todo List
                </h1>
            </div>
        </div>
    </header>
</head>

<body>
    {{{body}}}
</body>

</html>