<div class="container">
    <div> {{word}} BBC Software Engineer. Love working with Android, Node and Angular.
    </div>
    <div>
        What I have done:
    </div>
    <div>
        Contact me: email: github: twitter:
    </div>
</div>