<!doctype html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>Daveloper Admin</title>
    <!-- Loading Bootstrap -->
    <link href="flat-ui/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- <link href="/animation/ani.css" rel="stylesheet"> -->
    <!-- Loading Flat UI -->
    <link href="flat-ui/css/flat-ui.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <header>
        <div class="container">
            <div class="jumbotron header-board">
                <h1>
                    <img class="img-circle" src="img/pixel_me.gif" alt="Me">
                    Admin
                </h1>
                <div>
                    <input type='text' class="">
                </div>                
                <div>
                    <input type='password' class="">
                </div>
                <div>
                    <button class="btn btn-primary">Login</button>
                </div>
            </div>

        </div>
    </header>
</head>
<!--
<body ng-app="mainapp" ng-strict-di>
    <div ng-view=""></div>
</body>

<script src="angular/angular.js"></script>
<script src="angular-route/angular-route.js"></script>
<script src="angular-resource/angular-resource.js"></script>
-->

</html>