<div class="container-fluid">
    <div class="jumbotron header-board">
        <h1>
            <img class="img-circle" src="img/pixel_me.gif" alt="Me">
            I'm Dai.
        </h1>
        <small>Coder, Surfer, Snowboarder</small>
        <div>
            <a href="/" class="btn btn-primary">Me</a>
            <a href='/projects' class="btn btn-primary">Projects</a>
            <a href='/blog' class="btn btn-primary">Blog</a>
        </div>
    </div>
</div>