
.project-desc {
    color: #95a5a6;
    font-size: 15px;
    font-weight: 600;
}

.project {
    margin-bottom: 20dp;
}

.center-all {
    text-align: center
}

.project-card {

}

.tile.tile-android:before {
  background: url(../img/android-ribbon.png) 0 0 no-repeat;
  background-size: 82px 82px;
  content: '';
  height: 82px;
  position: absolute;
  right: -4px;
  top: -4px;
  width: 82px;

}

.project-tile {
    padding-top: 15px;
}

.tile.tile-web:before {
  background: url(../img/web-ribbon.png) 0 0 no-repeat;
  background-size: 82px 82px;
  content: '';
  height: 82px;
  position: absolute;
  right: -4px;
  top: -4px;
  width: 82px;

}

.center-body {
    text-align: center;
}
