<div class="container">
    <a><h5>{{::blogDetCtrl.blogPost.title}} <small>{{::blogDetCtrl.blogPost.dateCreated}}</small></h5></a>
    <p class="blog-desc" ng-bind-html="blogDetCtrl.renderHtml(blogDetCtrl.blogPost.full)"></p>
</div>