<div class="container">
    <h4>{{blogDetCtrl.blogPost.title}} <small>{{blogDetCtrl.blogPost.dateCreated}}</small></h4>
    <p class="project-desc" ng-bind-html="blogDetCtrl.renderHtml(blogDetCtrl.blogPost.full)"></p>
</div>