<div class="container center-all">
    <div>
        <a ng-href="mailto:{{aboutMe.contact}}">{{aboutMe.contact}}
    </a>
    </div>
    <div>
        <a ng-href="{{aboutMe.github}}">GitHub
    </a>
    </div>
</div>