<div class="container center-all">
    <h6>{{::homeCtrl.aboutMe.description}}
    </h6>
    <div>
        <a ng-href="mailto:{{::homeCtrl.aboutMe.contact}}">{{::homeCtrl.aboutMe.contact}}
    </a>
    </div>
    <div>
        <a ng-href="{{::homeCtrl.aboutMe.github}}">GitHub
    </a>
    </div>
</div>