<div class="project-tile col-xs-6 col-sm-3">
    <div class="tile" ng-class="{{css}}">
        <h6>
            <img src="/img{{project.imageURL}}">
            <img src="/img/{{icon}}">
            {{project.name}}
        </h6>
        <div class="project-desc">{{project.description}}</div>
        <p></p>
        <a class="btn btn-success" ng-href="{{project.projectURL}}">Here it is</a>
    </div>
</div>