<div class="container">
    <div ng-repeat="project in projects">
        <h4 class="project">
            <img src="/img{{project.imageURL}}">
            <a ng-href="{{project.projectURL}}">{{project.name}}</a>          
        </h4>
        <span class="project-desc">{{project.description}}</span> 
    </div>
</div>