<div class="container">
    <div class="row">
        <div class="center-all" ng-repeat="project in projectCtrl.projects">
            <project-type project-object="project"></project-type>
        </div>
    </div>
</div>