<div class="project-tile col-xs-6 col-sm-3">
    <div class="tile" ng-class="css">
        <h6>
            <img src="{{proj.imageURL}}">
            <img src="/img/{{icon}}">
            {{proj.name}}
        </h6>
        <div class="project-desc">{{proj.description}}</div>
        <p></p>
        <a class="btn btn-success" ng-href="{{proj.projectURL}}">Here it is</a>
    </div>
</div>