<div class="container">
    <div ng-repeat="project in projects">
        <h4 class="project">
            <img src="/img{{project.imageURL}}">
            <img src="/img/{{platformImage(project.platform)}}">
            <a ng-href="{{project.projectURL}}">{{project.name}}</a>
        </h4>
        <p class="project-desc" ng-bind-html="renderHtml(project.description)"></p>
    </div>
</div>