<div class="container">
    <div class="row">
        <div class="center-all" ng-repeat="project in projects">
            <div class="project-tile col-xs-6 col-sm-3">
                <div class="tile tile-android">
                    <h6>
                        <img src="/img{{project.imageURL}}">
                        <img src="/img/{{platformImage(project.platform)}}">
                        {{project.name}}
                    </h6>
                    <div class="project-desc">{{project.description}}</div>
                    <p></p>
                    <a class="btn btn-success" ng-href="{{project.projectURL}}">Here it is</a>
                </div>
            </div>
        </div>
        <div class="center-all">
            <div class="project-tile col-xs-6 col-sm-3">
                <div class="tile">
                    <h4 class="project">
                    <a>More in the oven..</a>
                </h4>
                </div>
            </div>
        </div>
    </div>
</div>