<div class="container">
    <div class="row">
        <div class="center-all" ng-repeat="project in projectCtrl.projects">
            <project-type project-object="project"></project-type>
        </div>
        <div class="center-all">
            <div class="project-tile col-xs-6 col-sm-3">
                <div class="tile">
                    <h6 class="project">
                    <div>More in the oven..</div>
                </h6>
                </div>
            </div>
        </div>
    </div>
</div>